html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #656774;
  font-weight: 400;
  background-color: #f5f9fe;
  color: #7e7a7a;
}

.button-pruduct_show {
  background-color: #ccc;
  border: none;
  font-size: 1.1rem;
  color: #60efff;
  font-weight: 400;
  padding: 5px;
}

.card_product {
  padding: 3rem;
}

.product_show {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(96, 239, 255, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.product_show .product_image {
  width: 45%;
  text-align: center;
  object-fit: cover;
}
.product_show .product_image .image_full {
  width: 90%;
  background-color: #ccc;
}
.product_show .product_infor {
  width: 65%;
}
.product_show .product_infor .product_name {
  font-size: 3.25rem;
  color: #888;
  font-weight: 700;
  text-transform: capitalize;
}
.product_show .product_infor .product_desc {
  font-size: 1.1rem;
  color: #656774;
  font-weight: 400;
}
.product_show .product_infor .product_size .size_title {
  font-size: 1.5rem;
  color: #888;
  font-weight: 600;
  text-transform: capitalize;
}
.product_show .product_infor .product_size .size_item {
  background-color: #ccc;
  border: none;
  font-size: 1.1rem;
  color: #888;
  font-weight: 600;
  padding: 5px 10px;
  margin-right: 10px;
  transition: all 0.3s linear;
}
.product_show .product_infor .product_size .size_item:hover, .product_show .product_infor .product_size .size_item:focus {
  background-color: #5e5e5e;
  color: white;
}
.product_show .product_infor .product_price {
  font-size: 2.25rem;
  color: #0061ff;
  font-weight: 700;
}
.product_show .product_infor .product_quantity .button_quantity {
  background-color: #ccc;
  border: none;
  font-size: 1.8rem;
  color: #888;
  font-weight: 500;
  width: 30px;
  height: 30px;
  line-height: 30px;
  flex-direction: row;
  transition: all 0.3s linear;
}
.product_show .product_infor .product_quantity .button_quantity:hover {
  background-color: #2a73dd;
}
.product_show .product_infor .product_quantity .quantity {
  font-size: 1.6rem;
  color: #888;
  font-weight: 600;
  margin: 15px;
}
.product_show .product_infor .button_add {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
  background-color: #000;
  border: none;
  margin-top: 15px;
  transition: all 0.3s;
}
.product_show .product_infor .button_add:hover {
  background-color: #0061ff;
}

.product_realate .realate_title {
  font-size: 3.25rem;
  color: #60efff;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .product_show {
    flex-direction: column;
  }
  .product_show .product_image,
  .product_show .product_infor {
    width: 100%;
  }
  .product_show .product_infor {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .card_product {
    padding: 0;
  }
  .product_show .product_infor .product_name {
    font-size: 2.25rem;
  }
  .product_show .product_infor .product_desc {
    font-size: 18px;
  }
  .product_show .product_infor .product_price {
    font-size: 1.8rem;
  }
  .product_show .product_infor .product_size .size_item {
    font-size: 18px;
  }
  .product_show .product_infor .button_add {
    font-size: 20px;
  }
}
.login {
  text-align: center;
  margin: 60px;
}
.login_card {
  border-radius: 15px;
  padding: 50px;
  background-color: rgba(96, 239, 255, 0.5);
  box-shadow: 0 0 5px 0 rgba(96, 239, 255, 0.3);
}
.login_item {
  width: 50%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #b1b0b0;
}
.login_item:hover, .login_item:focus {
  border-color: #000;
  box-shadow: 0 0 5px 2px #000;
}
.login_button {
  margin-top: 50px;
  padding: 10px 60px;
  background-color: #000;
  border: none;
  font-size: 18px;
  color: #60efff;
  font-weight: 600;
}
.login_button:hover {
  background-color: #0061ff;
}
.login_button:active {
  box-shadow: 0 0 5px 0 #000;
  transform: translateY(5px);
}

@media screen and (max-width: 767px) {
  .login {
    margin: 0;
  }
  .login_item {
    width: 100%;
  }
}
.register {
  padding: 5rem;
}
.register_card {
  border-radius: 15px;
  padding: 50px;
  background-color: rgba(96, 239, 255, 0.5);
  box-shadow: 0 0 5px 0 rgba(96, 239, 255, 0.3);
}
.register .register_title {
  text-align: center;
}
.register .register_content {
  display: flex;
}
.register .register_content .register_left,
.register .register_content .register_right {
  width: 50%;
  padding: 0 20px;
}
.register .register_content .register_label {
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.register .register_content .register_label:hover {
  color: #656774;
}
.register .register_content .register_list-item {
  width: 100%;
}
.register .register_content .register_list-item .input_item {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #b1b0b0;
  border-radius: 10px;
  outline: none;
}
.register .register_content .register_list-item .input_item:hover, .register .register_content .register_list-item .input_item:focus {
  border-color: #0061ff;
  box-shadow: 0 0 5px 0 #60efff;
}
.register .register_content .register_radio {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
}
.register .register_content .register_radio .radio_item {
  margin-right: 30px;
}
.register .register_content .register_radio .radio_item .radio_input {
  display: none;
}
.register .register_content .register_radio .radio_item .radio_input:checked + .radio_label:before {
  background-color: #fe556f;
  box-shadow: 0 0 0 5px white, 0 0 0 6px #fe556f;
}
.register .register_content .register_radio .radio_item .radio_label {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 2rem;
}
.register .register_content .register_radio .radio_item .radio_label:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #eee, 0 0 0 6px #b1b0b0;
  transition: all 0.25s linear;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.register .register_content .register_button {
  margin-top: 60px;
  padding: 10px 60px;
  font-weight: 600;
  border: none;
  background-color: #000;
  color: #60efff;
  transition: all 0.3s linear;
}
.register .register_content .register_button:hover {
  background-color: #0061ff;
}
.register .register_content .register_button:active {
  transform: translateY(10px);
}

@media screen and (max-width: 1023px) {
  .register {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .register {
    padding: 0;
  }
  .register .register_content {
    display: block;
  }
  .register .register_content .register_left,
  .register .register_content .register_right {
    width: 100%;
  }
}
.header_shoes .navbar {
  background-color: #000;
}
.header_shoes .navbar-brand {
  font-size: 2.25rem;
  color: white;
  font-weight: 600;
}
.header_shoes .nav-item .nav-link {
  padding: 0 25px;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  transition: all 0.2s;
}
.header_shoes .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0061ff;
  display: block;
  transition: all 0.3s;
  transform: scaleX(0);
}
.header_shoes .nav-item .nav-link:hover {
  color: #0061ff;
}
.header_shoes .nav-item .nav-link:hover::after {
  transform: scaleX(1);
}
.header_shoes .navbar-toggler {
  background-color: white;
}
.header_shoes .navbar_button .button_item {
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #60efff;
  background-color: #60efff;
  color: #000;
  transition: all 0.3s linear;
}
.header_shoes .navbar_button .button_item:hover {
  background-color: #0061ff;
  color: white;
}
.header_shoes .navbar_button .button_item:active {
  transform: translateY(5px);
  box-shadow: 0 0 5px 0 #60efff;
}

.shoes_search {
  margin-top: 30px;
}
.shoes_search .search_input {
  font-size: 1.8rem;
  color: #000;
  font-weight: 500;
  border-radius: 30px;
  border: 2px solid #60efff;
  transition: all 0.3s linear;
}
.shoes_search .search_input:hover {
  box-shadow: 0 0 5px 5px #60efff;
}
.shoes_search .search_input:focus {
  box-shadow: 0 0 5px 5px #60efff;
}
.shoes_search .button_search {
  font-size: 1.1rem;
  color: #000;
  font-weight: 600;
  background-color: #60efff;
  padding: 15px 35px;
  border-radius: 30px;
  margin-left: 40px;
  border: none;
  transition: all 0.3s linear;
}
.shoes_search .button_search:hover {
  background-color: #0061ff;
  color: #60efff;
  box-shadow: 0 0 5px 2px #60efff;
}
.shoes_search .button_search:active {
  box-shadow: 0 5px 0 0 #e3cac9;
  transform: translateY(20px);
}

.carousel .carousel-inner {
  height: 500px;
}
.carousel .carousel-inner .carousel-item {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.choes_product .product_title {
  text-align: center;
  padding: 50px;
}
.choes_product .product_title h2 {
  font-size: 3.25rem;
  color: #000;
  font-weight: 700;
}
.choes_product .product_content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.choes_product .product_item {
  box-shadow: 0 0 10px 0 rgba(96, 239, 255, 0.75);
  display: inline-block;
  border-radius: 10px;
}
.choes_product .product_item .item_image {
  transition: all 0.3s linear;
}
.choes_product .product_item .item_image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.choes_product .product_item .item_content {
  padding: 15px;
}
.choes_product .product_item .img_full {
  width: 100%;
}
.choes_product .product_item .item_title {
  font-size: 1.5rem;
  color: #888;
  font-weight: 600;
  text-transform: capitalize;
}
.choes_product .product_item .item_icon {
  color: #f9d412;
}
.choes_product .product_item .item_price {
  font-size: 1.5rem;
  color: #888;
  font-weight: 400;
}
.choes_product .product_item .item_button {
  display: flex;
  justify-content: space-between;
}
.choes_product .product_item .item_buy {
  text-align: center;
  padding: 0 15px;
  font-size: 18px;
  color: #888;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 5px 0 black;
}
.choes_product .product_item .item_buy:active {
  transform: translateY(3px);
}
.choes_product .product_item .item_buy:hover {
  background-color: #0061ff;
  color: #60efff;
}
.choes_product .product_item:hover {
  box-shadow: 0 0 5px 2px rgba(96, 239, 255, 0.75);
}
.choes_product .product_item:hover .item_image {
  background-color: #ccc;
}

.shoes-service {
  margin: 50px auto;
  text-align: center;
}
.shoes-service_icon {
  font-size: 50px;
  color: #1ae490;
}
.shoes-service_title {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.shoes-service_desc {
  font-size: 15px;
}

footer {
  background-color: #000;
  margin-top: 20px;
}
footer .footer_list {
  color: white;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}
footer .footer_list .footer_item {
  width: 25%;
  text-align: start;
}
footer .footer_list .footer_item h3 {
  font-size: 30px;
}
footer .footer_list .footer_item .footer_content ul {
  padding-left: 10px;
  list-style: none;
}
footer .footer_list .footer_item .footer_content a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.3s linear;
}
footer .footer_list .footer_item .footer_content a:hover {
  color: #0061ff;
}
footer .footer_list .footer_item .footer_content .item_social {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #60efff;
  color: #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  margin-right: 20px;
  transition: all 0.3s linear;
}
footer .footer_list .footer_item .footer_content .item_social:hover {
  background-color: #0061ff;
  color: white;
}
footer .footer_list .footer_item .footer_title-social {
  font-size: 28px;
}
footer .footer_list .footer_item .list_social {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  footer .footer_list .footer_item {
    width: 50%;
  }
  footer .footer_list .footer_item .footer_title h3 {
    font-size: 24px;
  }
}
.quantity {
  width: 30%;
}
.quantity:focus {
  outline: none;
  border: 1px solid #0061ff;
  box-shadow: 0 0 5px 0 #60efff;
}

.form-select:focus {
  outline: none;
  border: 1px solid #0061ff;
  box-shadow: 0 0 5px 0 #60efff;
}

.btn-danger {
  transition: all 0.3s linear;
}
.btn-danger:active {
  transform: translateY(3px);
}

@media screen and (max-width: 1279px) {
  .choes_product .product_item a .item_title {
    font-size: 16px;
  }
  .choes_product .product_item a .item_buy {
    font-size: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .carousel .carousel-inner {
    height: 400px;
  }
  .choes_product .product_content {
    grid-template-columns: repeat(3, 1fr);
  }
  .product_item .item_button {
    flex-direction: column;
  }
  .product_item .item_button .item_icon {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .product_item .item_button .item_buy {
    width: 60%;
    font-size: 16px;
    padding: 0;
    margin-left: 40%;
  }
}
@media screen and (max-width: 767px) {
  .carousel .carousel-inner {
    height: 200px;
  }
  .choes_product .product_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .choes_product .product_item a .item_icon {
    font-size: 10px;
  }
  .choes_product .product_item .item_title,
  .choes_product .product_item .item_price {
    font-size: 1.1rem;
  }
  .choes_product .product_item .item_icon {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .choes_product .product_item .item_buy {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */