html,
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #656774;
  font-weight: 400;
  background-color: #f5f9fe;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home a {
  text-decoration: none;
}
.home .home_left,
.home .home_right {
  margin: 200px auto;
  text-align: center;
}
.home .home_left .home_item,
.home .home_right .home_item {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 80px;
  object-fit: cover;
  background-color: azure;
  position: relative;
}
.home .home_left .home_item::after, .home .home_left .home_item::before,
.home .home_right .home_item::after,
.home .home_right .home_item::before {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 80px;
  display: block;
  z-index: -1;
}
.home .home_left .home_image,
.home .home_right .home_image {
  width: 100%;
  height: auto;
}
.home .home_left .home_title,
.home .home_right .home_title {
  color: #999;
}
.home .home_left .home_title::after,
.home .home_right .home_title::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #f3ce5e;
  display: block;
  transform: translateX(38px);
  transition: all 0.3s;
}
.home .home_left:hover .home_item::before,
.home .home_right:hover .home_item::before {
  background-color: #fda8cf;
  animation: 1s clockwise infinite;
}
.home .home_left:hover .home_item::after,
.home .home_right:hover .home_item::after {
  background: #f3ce5e;
  animation: 2s counterclockwise infinite;
}
.home .home_left:hover .home_title,
.home .home_right:hover .home_title {
  color: #f3ce5e;
}
.home .home_left:hover .home_title::after,
.home .home_right:hover .home_title::after {
  width: 70%;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
.header_shoes .navbar {
  background-color: #000000;
}
.header_shoes .navbar-brand {
  font-size: 2.25rem;
  color: #f4a6ba;
  font-weight: 600;
}
.header_shoes .nav-item .nav-link {
  padding: 0 25px;
  font-size: 1.8rem;
  color: #f4a6ba;
  font-weight: 400;
  transition: all 0.2s;
}
.header_shoes .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #cf4763;
  display: block;
  transition: all 0.3s;
  transform: scaleX(0);
}
.header_shoes .nav-item .nav-link:hover {
  color: #cf4763;
}
.header_shoes .nav-item .nav-link:hover::after {
  transform: scaleX(1);
}

.carousel .carousel-inner .carousel-item {
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.choes_product .product_title {
  text-align: center;
  padding: 20px;
}
.choes_product .product_title h2 {
  font-size: 3.25rem;
  color: #f4a6ba;
  font-weight: 500;
}
.choes_product .product_content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.choes_product .product_item {
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.6235294118);
  display: inline-block;
}
.choes_product .product_item .item_image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.choes_product .product_item a {
  text-decoration: none;
}
.choes_product .product_item a .item_content {
  padding: 15px;
}
.choes_product .product_item a .img_full {
  width: 100%;
}
.choes_product .product_item a .item_title {
  font-size: 1.5rem;
  color: #f4a6ba;
  font-weight: 400;
}
.choes_product .product_item a .item_icon {
  color: #f9d412;
}
.choes_product .product_item a .item_price {
  font-size: 1.5rem;
  color: #f4a6ba;
  font-weight: 400;
}
.choes_product .product_item a .item_button {
  display: flex;
  justify-content: space-between;
}
.choes_product .product_item a .item_buy {
  padding: 0 15px;
  font-size: 16px;
  color: #f4a6ba;
  font-weight: 400;
  border: none;
  box-shadow: 0 0 5px 0 black;
}

footer {
  background-color: #000000;
  margin-top: 20px;
}
footer .footer_list {
  color: #cf4763;
  display: flex;
  padding: 50px;
}
footer .footer_list .footer_item {
  width: 33.3333333333%;
  text-align: start;
}
footer .footer_list .footer_item h3 {
  font-size: 2.25rem;
}
footer .footer_list .footer_item .footer_content ul {
  padding-left: 10px;
  list-style: none;
}
footer .footer_list .footer_item .footer_content a {
  text-decoration: none;
  color: #f4a6ba;
  font-size: 20px;
}
footer .footer_list .footer_item .footer_content a:hover {
  color: #cf4763;
}/*# sourceMappingURL=main.css.map */