// header
@import "../layout/header";

//search
.shoes_search {
  margin-top: 30px;
  .search_input {
    @include StyleText($fs-3, $primary, $fw-2);
    border-radius: 30px;
    border: 2px solid $secondary;
    transition: all 0.3s linear;
    &:hover {
      box-shadow: 0 0 5px 5px $secondary;
    }
    &:focus {
      box-shadow: 0 0 5px 5px $secondary;
    }
  }
  .button_search {
    @include StyleText($fs-2, $primary, $fw-3);
    background-color: $secondary;
    padding: 15px 35px;
    border-radius: 30px;
    margin-left: 40px;
    border: none;
    transition: all 0.3s linear;
    &:hover {
      background-color: $color-hover;
      color: $secondary;
      box-shadow: 0 0 5px 2px $secondary;
    }
    &:active {
      box-shadow: 0 5px 0 0 #e3cac9;
      transform: translateY(20px);
    }
  }
}

.carousel {
  .carousel-inner {
    height: 500px;
    .carousel-item {
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }
}
.choes_product {
  .product_title {
    text-align: center;
    padding: 50px;
    h2 {
      @include StyleText($fs-7, $primary, $fw-bold);
    }
  }
  .product_content {
    margin-top: 20px;
    // text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-column: 4;
    gap: 40px;
  }
  .product_item {
    box-shadow: 0 0 10px 0 rgba($secondary, 0.75);
    display: inline-block;
    border-radius: 10px;
    .item_image {
      transition: all 0.3s linear;
    }
    .item_image {
      width: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }
    .item_content {
      padding: 15px;
    }
    .img_full {
      width: 100%;
    }
    .item_title {
      @include StyleText($fs-4, #888, $fw-3);
      text-transform: capitalize;
    }
    .item_icon {
      color: $color-yellow-1;
    }
    .item_price {
      @include StyleText($fs-4, #888, $fw-1);
    }
    .item_button {
      display: flex;
      justify-content: space-between;
    }
    .item_buy {
      text-align: center;
      padding: 0 15px;
      @include StyleText($fs-1, #888, $fw-1);
      border: none;
      border-radius: 5px;
      text-decoration: none;
      box-shadow: 0 0 5px 0 black;
      &:active {
        transform: translateY(3px);
      }
      &:hover {
        background-color: $color-hover;
        color: $secondary;
      }
    }

    &:hover {
      box-shadow: 0 0 5px 2px rgba($secondary, 0.75);
      .item_image {
        background-color: #ccc;
      }
    }
  }
}
.shoes-service {
  margin: 50px auto;
  text-align: center;
  &_icon {
    font-size: 50px;
    color: #1ae490;
  }
  &_title {
    @include StyleText($fs-1, $primary, $fw-3);
  }
  &_desc {
    font-size: 15px;
  }
}
// footer
@import "../layout/footer";
// cart
@import "../layout/cart";
@media screen and (max-width: 1279px) {
  .choes_product {
    .product_item {
      a {
        .item_title {
          font-size: 16px;
        }
        .item_buy {
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .carousel {
    .carousel-inner {
      height: 400px;
    }
  }
  .choes_product {
    .product_content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .product_item {
    .item_button {
      flex-direction: column;
      .item_icon {
        margin-bottom: 20px;
        font-size: 16px;
      }
      .item_buy {
        width: 60%;
        font-size: 16px;
        padding: 0;
        margin-left: 40%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .carousel {
    .carousel-inner {
      height: 200px;
    }
  }
  .choes_product {
    .product_content {
      grid-template-columns: repeat(2, 1fr);
    }
    .product_item {
      a {
        .item_icon {
          font-size: 10px;
        }
      }
      .item_title,
      .item_price {
        font-size: $fs-2;
      }

      .item_icon {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .item_buy {
        font-size: 12px;
      }
    }
  }
}
