// color chủ đạo
$primary: #000;
$secondary: #60efff;
$colorBox: #0000009f;
//color
$color-dark-1: #656774;
$color-dark-2: #ccc;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;

//color button:
$color-button: #ec94a9;
$color-hover: #0061ff;
$color-border-input: #b1b0b0;
$color-text: white;
$color-text-2: #888;

//font size
$fs-1: 18px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 1.5rem;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 3.25rem;
$fs-8: 4rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-bold: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//break points
$breakpoints: (
  // key : value
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px
);

//dark color
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;
$color-blue-4: #2196f3;
