.header_shoes {
  .navbar {
    background-color: $primary;
  }
  .navbar-brand {
    @include StyleText($fs-6, white, $fw-3);
  }
  .nav-item {
    .nav-link {
      padding: 0 25px;
      @include StyleText($fs-4, white, $fw-1);
      transition: all 0.2s;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-hover;
        display: block;
        transition: all 0.3s;

        transform: scaleX(0);
      }
      &:hover {
        color: $color-hover;
        // Sau hover
        &::after {
          transform: scaleX(1);
        }
      }
      //before( nằm ở trên phải chỉnh thêm position), after đặt ngay dưới dòng chữ
    }
  }
  .navbar-toggler {
    background-color: white;
  }
  .navbar_button {
    .button_item {
      text-decoration: none;
      display: inline-block;
      margin-right: 5px;
      padding: 5px 15px;
      border-radius: 25px;
      border: none;
      font-size: 16px;
      font-weight: 600;
      color: $secondary;
      background-color: $secondary;
      color: $primary;
      transition: all 0.3s linear;
      &:hover {
        background-color: $color-hover;
        color: white;
      }
      &:active {
        transform: translateY(5px);
        box-shadow: 0 0 5px 0 $secondary;
      }
    }
  }
}
