.home {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
  }
  .home_left,
  .home_right {
    margin: 200px auto;
    text-align: center;

    .home_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
      width: 250px;
      height: 250px;
      border-radius: 80px;
      object-fit: cover;
      background-color: azure;
      position: relative;
      // overflow: hidden;

      &::after,
      &::before {
        content: "";
        width: 255px;
        height: 250px;
        position: absolute;
        border-radius: 80px;
        display: block;
        // z-index: -1;
      }
    }
    .home_image {
      width: 100%;
      height: auto;
    }
    .home_title {
      color: #999;
      &::after {
        content: "";
        width: 0;
        height: 5px;
        background-color: #f3ce5e;
        display: block;
        transform: translateX(38px);
        transition: all 0.3s;
      }
    }
    &:hover {
      .home_item {
        &::before {
          background-color: #fda8cf;
          animation: 1s clockwise infinite;
        }

        &::after {
          background: #f3ce5e;
          animation: 2s counterclockwise infinite;
        }
      }
      .home_title {
        color: #f3ce5e;
        &::after {
          width: 70%;
        }
      }
    }
  }
}
//  keyframes
@keyframes clockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
